@page "{id?}"
@model SistemaDePagoDeAranceles.Pages.Establishments.DeleteModel
@{
    ViewData["Title"] = "Eliminar Establecimiento";
}

<h2 class="mb-4">@ViewData["Title"]</h2>
<hr class="border-top border-2 border-secondary opacity-50 mb-4">
<div class="alert alert-warning">
    ¿Estás seguro de que deseas eliminar el establecimiento de <strong>@Model.Establishment.Name</strong>?
</div>

<form method="post">
    <input type="hidden" asp-for="Establishment.Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="Index" class="btn btn-secondary ms-2">Cancelar</a>
</form>