@page "{id?}"
@model SistemaDePagoDeAranceles.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Editar Categoría";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <input type="hidden" asp-for="Category.Id" />
    <input type="hidden" asp-for="Category.Status"/>

    <div class="mb-3">
        <label asp-for="Category.Name" class="form-label">Nombre</label>
        <input asp-for="Category.Name" class="form-control" required minlength="3" maxlength="150" pattern="^(?!\d+$).+" title="El nombre debe tener entre 3 y 150 caracteres y no puede ser solo números." />
        <span asp-validation-for="Category.Name" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Category.Description" class="form-label">Descripcion</label>
        <input asp-for="Category.Description" class="form-control" maxlength="1000" />
        <span asp-validation-for="Category.Description" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label asp-for="Category.BaseAmount" class="form-label">Monto Base</label>
        <input asp-for="Category.BaseAmount" class="form-control" type="number" step="0.01" required min="0" />
        <span asp-validation-for="Category.BaseAmount" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
